@import "core/reset";

// @import 'core/variables';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  background-color: #ffffff;
  font-size: 62.5%;
}

// HEADER

header {
  display: flex;
  flex-direction: column;
}

.background {
  background-image: url("../images/cover.jpeg");
  width: 100vw;
  height: 90vh; /* Porque si no especifico una altura la imagen no será visible */
  background-size: cover; /* Para que la imagen no se deforme al adaptarse a cada pantalla */
  background-position: center; /* Para centrar la imagen horizontal y verticalmente en el contenedor */
  background-repeat: no-repeat; /* Para que no repita la imagen */
}

.nav-burger-menu {
  display: flex;
  flex-direction: flex-start;
  position: fixed;
  background-color: #0171bb;
  padding: 1.5rem;
  z-index: 1;
}

.header-text {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 30rem;
}

.header-title {
  justify-content: center;
  font-size: 4.2rem;
  text-transform: uppercase;
  line-height: 5.5rem;
  font-weight: 500;
}

.header-subtitle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;
  line-height: 3.2rem;
}

.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  transform: translateY(20px);
}

.icon-arrow-down {
  width: 1.8rem;
  height: 1.8rem;
  padding: 1rem;
  border-radius: 50%;
  background: white;
}

// MAIN

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.small-text {
  color: #8ccbea;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin-top: 6.0rem;
  text-transform: capitalize;
  padding-left: 1.5rem;
}

.section-main-title-1 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.0rem;
  padding-left: 1.5rem;
  text-transform: capitalize;
  line-height: 2.9rem;
}

.section-paragraphy {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  margin-top: 1.0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 350;
  line-height: 2.4rem;
}

.container-button-medium {
  display: flex;
  justify-content: center;
  width: 7.6rem;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  position: relative;
  margin-left: 1.5rem;
  margin-top: 2.6rem;
  margin-bottom: 4.5rem;
  border: 0.2rem solid #f26002;
  background-color: transparent;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container-button-medium:hover {
  transform: scale(1.1);
}

.button-medium-inside {
  color: #f26002;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2.0rem;
  text-transform: capitalize;
}

.section-main-title-2 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 2.4rem;
}

.container-large {
  height: 98vh;
  background-color: #eff9ff;
  display: grid;
  align-items: center;
  justify-items: center;
}

.section3-article {
  width: 50vw;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  justify-items: center;
}

.section-main-title-3 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  line-height: 3.0rem;
}

.section3-paragraphy {
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  line-height: 2.4rem;
}

.container-button-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.0rem 2.4rem;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: #f26002;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container-button-large:hover {
  transform: scale(1.1);
}

.button-large-inside {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 2.0rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

.icon-arrow-up {
  width: 1.8rem;
  height: 1.8rem;
  padding: 1.0rem;
  border-radius: 50%;
  background: white;
  transform: translateY(16px);
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  font-weight: 380;
}

.enlace-footer {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 3.2rem;
  font-size: 1.6rem;
}

.nav-div-categories {
  &:first-child {
    margin-top: 6.5rem;
  }
  &:last-child {
    margin-bottom: 3.0rem;
  }
}

.nav-div-socialmedia {
  &:first-child {
    margin-top: 0rem;
  }
  &:last-child {
    margin-bottom: 3.0rem;
  }
}

.nav-div-small-text {
  margin-bottom: 3.0rem;
  line-height: 3.2rem;
}

.footer-small-text {
  color: white;
  font-size: 1.4rem;
}

.footer-small-text-love {
  color: white;
  font-size: 1.4rem;
}

.fa-heart {
  color: red;
  margin: 0 0.2rem;
  animation: bounceOut; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
  cursor: pointer;
}

// MEDIA QUERIES

@media (min-width: 768px) {
  .small-text {
    padding-left: 3.9rem;
    margin-top: 4.0rem;
  }

  .section-main-title-1 {
    font-size: 2.6rem;
    font-weight: 500;
    padding-left: 3.9rem;
  }

  .section-paragraphy {
    font-size: 2.0rem;
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    font-weight: 350;
    line-height: 2.4rem;
  }

  .container-button-medium {
    margin-left: 3.9rem;
    margin-top: 2.7rem;
    margin-bottom: 5.0rem;
  }
}
