@import "core/reset";

// @import 'core/variables';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  background-color: #fff;
}

// HEADER

header {
  display: flex;
  flex-direction: column;
}

.background {
  background-image: url("../images/cover.jpeg");
  width: 100vw;
  height: 90vh; /* Porque si no especifico una altura la imagen no será visible */
  background-size: cover; /* Para que la imagen no se deforme al adaptarse a cada pantalla */
  background-position: center; /* Para centrar la imagen horizontal y verticalmente en el contenedor */
  background-repeat: no-repeat; /* Para que no repita la imagen */
}

.nav-burger-menu {
  display: flex;
  flex-direction: flex-start;
  position: fixed;
  background-color: #0171bb;
  padding: 15px;
}

.header-text {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 300px;
}

.header-title {
  justify-content: center;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 55px;
  font-weight: 500;
}

.header-subtitle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 32px;
}

.icon-arrow-down {
  width: 18px;
  height: 18px;
  padding: 10px;
  border-radius: 50%;
  background: white;
  transform: translateY(20px); /* ej. translateY(100px) */
}

.main-container {
  display: flex;
  flex-direction: column;
}

// SECTION 2

.small-text {
  color: #8ccbea;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 50px;
  text-transform: capitalize;
  padding-left: 15px;
}

.section-main-title-1 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px;
}

.section-paragraphy {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 15px;
  font-weight: 350;
  line-height: 24px;
}

.button-medium {
  color: #f26002;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 450;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 15px;
  line-height: 100px;
  border: 2px solid #f26002;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.container-title {
  display: grid;
  text-align: center;
  line-height: 50px;
}

.section-main-title-2 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px;
}

// SECTION 3

.container-large {
  height: 98vh;
  background-color: #eff9ff;
  display: grid;
  align-items: center;
  justify-items: center;
}

.section3-article {
  width: 50vw;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
  border: 2px solid black;
}

.section-main-title-3 {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  text-align: center;
  line-height: 30px;
}

.section3-paragraphy {
  font-size: 16px;
  color: #000000;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.button-large {
  background-color: #f26002;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  line-height: 100px;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.icon-arrow-up {
  width: 18px;
  height: 18px;
  padding: 10px;
  border-radius: 50%;
  background: white;
  transform: translateY(5px); /* ej. translateY(100px) */
}

// FOOTER

.footer {
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.enlace-footer {
  text-decoration: none;
  color: white;
}

.footer-small-text {
  color: white;
}

.footer-small-text-love {
  color: white;
}

.fa-heart {
  color: red;
}
